@page "/"
@inject NavigationManager Navigation
<PageTitle>Pexita URL Shortener</PageTitle>

<header class="hero">
    <div class="container">
        <h1 class="mb-5">Welcome to Pexita</h1>
        <div class="input-container">
            <InputText @bind-Value="input.url" type="text" placeholder="Long URL" aria-label="URL input" />
            <button type="submit" @onclick="HandleClick" class="btn btn-primary">Shorten Now!</button>
        </div>
    </div>
</header>

<section class="features">
    <div class="container">
        <h2 class="text-center mb-5">Why Pexita?</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>Secure</h3>
                    <p>We use secure algorithms to ensure your safety</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>Instant Shortening</h3>
                    <p>Pexita shortens your URLs as fast as possible</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>Easy to Use</h3>
                    <p>Designed for the best experience with minimal effort</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>
                        Monetization
                    </h3>
                    <p>We Use Secure Algorithms to make sure you're safe with us!</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>
                        Analytics
                    </h3>
                    <p>You can see statistics and analytics on your URLs anytime you want!</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-item">
                    <h3>
                        Multi-Platform Compatibility
                    </h3>
                    <p>Access your account on multiple platforms! Our Website, Telegram bot etc.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works py-5">
    <div class="container">
        <h2 class="text-center mb-5">How Does URL Shortener Work?</h2>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1. URL Submission</h3>
                    <p>Input your long URL in the box and click "Shorten Now!"</p>
                </div>
                <div class="timeline-image">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2. Processing</h3>
                    <p>Pexita will process and generate a shortened URL for you instantly.</p>
                </div>
                <div class="timeline-image">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>3. Share</h3>
                    <p>Share the shortened URL with friends and your audience.</p>
                </div>
                <div class="timeline-image">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>4. Analytics</h3>
                    <p>
                        Check information about your audience and clicks in the Analytics section of your
                        profile.
                    </p>
                </div>
                <div class="timeline-image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta text-center p-5 outer mt-5">
    <h2 class="title pb-3">Ready to get started?</h2>
    <a href="/URLShortener" class="btn btn-primary">Start Shortening Your URLs Now!</a>
</section>

@code {
    private class Input
    {
        public string url = string.Empty;
    }
    private Input input = new();
    private void HandleClick()
    {
        Navigation.NavigateTo($"/URLShortener?url={input.url}");
    }
}
