@page "/NotFound"

<PageTitle>Not Found</PageTitle>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <main class="text-center">
        <h1 id="not-found" class="typewriter mb-4">404 Not Found!</h1>
        <p class="lead mb-4">The Path you entered was not found on this server.</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </main>
</div>

@code {

}
