@page "/URLShortener"

    <div class="header p-1">
        <div class="py-3 px-4">
            <h1>URL Shortener</h1>
            <p>Here you can shorten your URLs!</p>
        </div>
    </div>
    <div class="container-border">
        <div class="mt-3 d-flex justify-content-start mx-5">
            <div class="btn-group" role="group" aria-label="Shorten Mode">
                <input type="radio" class="btn-check" name="shortenMode" id="singleMode" value="single" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="singleMode">Single URL</label>
            
                <input type="radio" class="btn-check" name="shortenMode" id="batchMode" value="batch" autocomplete="off">
                <label class="btn btn-outline-primary" for="batchMode">Batch URLs</label>
            </div>
            
        </div>
        <div class="single-form">
            <div class="row py-5 px-3">
                <div class="col-md-4">
                    <form>
                        <div class="form-group mb-3">
                            <label for="LongURL" class="form-label">Long URL <span style="color:red;">*</span></label>
                            <input type="text" name="LongURL" id="LongURL" class="form-control"
                                placeholder="www.example.com" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Categories" class="form-label">URL Categories</label>
                            <input type="text" name="Categories" id="Categories" class="form-control"
                                placeholder="Cinema, Telegram_Channel, Personal-URLs" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" name="Description" id="Description" class="form-control"
                                placeholder="These URLs Point to The Lord Of The Rings Article." />
                        </div>
                        <div class="form-check pt-3 mb-3">
                            <input type="checkbox" class="form-check-input" name="isActive" id="isActive" />
                            <label for="isActive" class="form-check-label">Active</label>
                        </div>
                        <button type="submit" class="btn btn-primary button-style mt-1">Shorten!</button>
                    </form>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Short Code</th>
                                <th>Long URL</th>
                                <th>Category</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>This is My First URL</td>
                                <td>uio5b2</td>
                                <td>www.example.com/</td>
                                <td>
                                    <div>
                                        <span class="badge bg-primary d-block mb-1" style="width:60%;">Cinema</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-success">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="dec">
                        ** The shortcodes specified are estimates, may be different after the real shortening!!
                    </p>
                </div>
            </div>
        </div>
        <div class="batch-form">
            <div class="mb-2 p-4">
                <form action="">
                    <div class="form-group mb-3">
                        <label for="batchurls" class="form-label">
                            Enter your list of URLs <span style="color: red;">*</span>
                        </label>
                        <textarea class="batch-url-area form-control" placeholder="www.example.com/My-URL" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Categories" class="form-label">URL Categories (Comma Separated)</label>
                        <input type="text" name="Categories" id="Categories" class="form-control"
                            placeholder="Cinema, Telegram_Channel, Personal-URLs" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="Description" class="form-label">Description</label>
                        <input type="text" name="Description" id="Description" class="form-control"
                            placeholder="These URLs Point to The Lord Of The Rings Article." />
                    </div>
                    <div class="form-check pt-3 mb-3">
                        <input type="checkbox" class="form-check-input" name="isActive" id="isActive" />
                        <label for="isActive" class="form-check-label">Active</label>
                    </div>
                    <button type="submit" class="btn btn-primary button-style mt-1">Shorten!</button>
                </form>
            </div>
            <div class="preview-table mb-4 p-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Short Code</th>
                            <th>Long URL</th>
                            <th>Category</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>This is My First URL</td>
                            <td>uio5b2</td>
                            <td>www.example.com/</td>
                            <td>
                                <div>
                                    <span class="badge bg-primary d-block mb-1" style="width:60%;">Cinema</span>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-success">Active</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="dec">
                    ** The shortcodes specified are estimates, may be different after the real shortening!!
                </p>
            </div>
        </div>
    </div>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const singleForm = document.querySelector('.single-form');
            const batchForm = document.querySelector('.batch-form');

            // Initially show single form and hide batch form
            batchForm.style.display = 'none';

            // Event listeners for radio buttons
            document.getElementById('singleMode').addEventListener('click', function () {
                singleForm.style.display = 'block';
                batchForm.style.display = 'none';
            });

            document.getElementById('batchMode').addEventListener('click', function () {
                singleForm.style.display = 'none';
                batchForm.style.display = 'block';
            });
        });
    </script>
