.content {
    padding-top: 0 !important;
}

.navigationbar {
    background-color: #6f42c1;
    /* Purple background for the navigation bar */
}

    .navigationbar a {
        color: white;
    }

        .navigationbar a:hover {
            color: black;
        }

body {
    background-color: #e9ecef;
    /* Light background for the body */
    font-family: 'Arial', sans-serif;
    /* Set a modern font */
}

img {
    color: white;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #6f42c1;
    /* Dark background for footer */
    text-align: center;
    color: white;
}


.footer-info {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center the column in the middle */
}

    .footer-info ul {
        list-style-type: none;
        /* Remove bullet points */
        padding: 0;
        /* Remove padding */
        margin: 0;
    }

    .footer-info li {
        margin: 0.5rem 0;
        /* Add vertical spacing between the social links */
    }

    .footer-info a {
        text-decoration: none;
        /* Remove underline */
        color: white;
        /* White text */
        font-size: 18px;
        /* Adjust font size */
    }

        .footer-info a:hover {
            color: black;
            /* Change color on hover */
        }
