.content {
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.main {
    flex: 1 0 auto; /* This will make the main content expand to push footer down */
}

.navigationbar {
    background: #6f42c1; /* Gradient background for depth */
    padding: 10px 20px; /* Added padding for better spacing */
}

    .navigationbar a {
        color: white; /* White text for contrast */
        text-decoration: none; /* Removes underline from links */
        padding: 10px 15px; /* Padding for better click area */
        transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
        border-radius: 5px; /* Rounded corners for a softer look */
    }

        .navigationbar a:hover {
            color: white; /* Change text color on hover */
            background-color: rgba(255, 255, 255, 0.15); /* Light background on hover */
        }


body {
    background-color: #e9ecef;
    /* Light background for the body */
    font-family: 'Arial', sans-serif;
    /* Set a modern font */
}

img {
    color: white;
}

footer {
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
    background-color: #6f42c1;
    text-align: center;
    color: white;
}


.footer-info {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center the column in the middle */
}

    .footer-info ul {
        list-style-type: none;
        /* Remove bullet points */
        padding: 0;
        /* Remove padding */
        margin: 0;
    }

    .footer-info li {
        margin: 0.5rem 0;
        /* Add vertical spacing between the social links */
    }

    .footer-info a {
        text-decoration: none;
        /* Remove underline */
        color: white;
        /* White text */
        font-size: 18px;
        /* Adjust font size */
    }

        .footer-info a:hover {
            color: black;
            /* Change color on hover */
        }
